@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Quicksand";
}
/* NAVIGATION */

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    justify-content: space-around;
}
.nav-logo{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo{
    width: 3.5rem;
}

.nav-links > ul{
    display: flex;
    gap: 35px;
}
.nav-links li{
    list-style: none;

}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.text-orange{
    color: #FEA301;
}
.text-blue{
    color: #01ACFD;
}
.text-purple{
    color: #5D58EF;
}
.text-light-blue{
    color: #68A2DF;
}
.nav-btn{
    padding: 10px 40px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    background-color: #FEA301;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.menu-icon{
    display: none;
    cursor: pointer;
}
.menu-icon-lines{
    cursor: pointer;
    display: block;
    width: 30px;
    height: 2px;
    background-color: black;
    margin: 5px 0;
}

/* BANNER SECTION */

.banner{
    display: flex;
    max-width: 1366px;
    margin-bottom: 150px;
}
.banner-container{
    margin-left: auto;
    display: flex;
    width: 77%;
    gap: 20px;
}
.banner-content-container{
    width: 80%;
    display: flex;
    align-items: center;

}
.banner-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 24px;
}
.banner-title{
    font-size: 52px;
}
.banner-img-container{
    overflow: hidden;
}
.banner-img{
    margin-right: -5px;

}
.black-btn{
    padding: 10px 15px;
    width: 160px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* STANDARD CURRICULUM */

.standard-curriculum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 50px;
    background-image: url(../assets/bg.png);
}
.curriculum-title{
    margin: 0 auto;
    font-size: 47px;
}
.curriculum-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    gap: 40px;
    
}


.curriculum-card{
    background-color: white;
    border: 1px solid #01adfd59;
    border-radius: 20px;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
    padding: 40px 0;  



}
.kinder-scl{
    background-image: linear-gradient(#01adfd1f, white);
}
.elem-scl{
    background-image: linear-gradient(#ffc7677c, white);
    border: 1px solid #f1be647c;
}

.middle-scl{
    background-image: linear-gradient(#9b97f86b , white );
    border: 1px solid #8582e76b;
}
.curriculum-arrow{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 10%;
    margin: 0 auto;
}
.curriculum-arrow > button{
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    background-color: #FEA301;
    color: white;
    border: none;
    padding: 11px 20px;
    border-radius: 50px;
    margin: 30px 0 150px;
}
.curriculum-arrow > button:hover{
    background-color: #ffb432;
}

.cur-card-title{
    font-size: 26px;
}
.cur-card-desc{
    color: #808080;
    padding-right: 30px;
    padding-left: 30px;
}
.read-more{
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
}

/* OUR STORIES */

/* .our-stories{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../assets/bg.png), linear-gradient(to top, #fea10169, white);
    text-align: center;
}
.our-stories-container{
    width: 80%;
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
    flex-direction: column;
}
.story-container{
    display: flex;
    gap: 20px;
}
.sect-1{
    width: 70%;
}
#story-large{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    text-align: start;
}
.story-content-large{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.story-content-large > p{
    color: #808080;
}
.story-content{
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.story-btn-large{
    width: 60%;
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    background-color: #01d7fd;
    color: white;
    margin-top: -55px;
}
.story-btn{
    width: 60%;
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    background-color: #62ad0d;
    color: white;
    margin-top: -30px;
}
.story-img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#large-story-img{
    width: 100%;
}
.our-stories-container > h1{
    font-size: 50px;
}
.sect-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.story{
    background-color: white;
    border-radius: 20px;
    text-align: start;

} */

/* FOOTER */
.footer{
    display: flex;
    justify-content: center;
    background-color: #41c3ff;
    padding: 70px 0;
    color: white;
}
.footer-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.footer-about{
    display: grid;
    width: 20%;

}
.footer-social{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-social > div{
    display: flex;
    gap: 8px;
}
.footer a{
    font-size: 16px;
    font-weight: 400;
    color: white;
}
.footer ul{
    display: grid;
    gap: 20px;
}

.footer-content{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-content p{
    width: 60%;
}


a{
    text-decoration: none;
}
li{
    list-style: none;
}
.footer-content img{
    width: 85px;
}
.footer-content > div > h1{
    font-size: 40px;
    display: inline-block;
}
/* MEDIA QUERY */

@media screen and (max-width: 576px){
    .navbar{
        justify-content: space-between;
        padding: 10px 20px;
        width: calc(100% - 40px);
        border-bottom: 1px solid #fea10175;
    }
    .nav-links{
        display: none;
    }
    .nav-title{
        display: none;
    }
    .nav-btn-container{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    /* banner */
    
    .banner-container{
        flex-direction: column-reverse;
        margin: 0 auto;
        width: 95%;
    }
    .banner-img-container{
        overflow:visible;
    }
    .banner-img{
        width: 100%;
        margin: 0 auto;
    }
    .banner-content-container{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .banner-content{
        text-align: center;
    }
    .banner-title{
        font-size: 2rem;
    }
    .banner-content > button{
        margin: 0 auto;
    }
    .banner-desc{
        font-weight: 500;
   
    }

    /* curriculum */

    .curriculum-container{
        flex-direction: column;
        width: 92%;
        gap: 10px;
    }
    .curriculum-title{
        font-size: 30px;
    }
    .curriculum-card{
        width: 100%;
    }
    .curriculum-arrow{
        display: none;
    }
    .standard-curriculum{
        margin-bottom: 160px;
    }

    /* OUR STORIES */
 
    /* FOOTER */
    .footer{
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .footer-container{
        display:flex;
        flex-direction: column;
        padding: 30px;
        width: 92%;
    }
    .footer-content{
        width: 100%;
    }
    .footer-content > p{
        width: 92%;
    }
    .footer-about{
        width: 100%
    }
    .footer-about > h2{
        margin-bottom: 30px;
    }
    .footer-social{
        gap: 50px;
    }


}